.pay__hav_container {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.getBack {
  margin-top: 55px;
  color: white;
  width: 200px;
  height: 30px;
  //   border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;

  &:hover {
    background-color: white;
    color: black;
  }
}

.getPay {
  margin-top: 15px;
  color: white;
  width: 200px;
  height: 30px;
  //   border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;

  &:hover {
    background-color: white;
    color: black;
  }
}

.pay__list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.pay__cart {
  margin-top: 10px;
  height: 130px;
}
