.pay__hav_container {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.getBack {
  margin-top: 55px;
  color: white;
  width: 300px;
  height: 30px;
  //   border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;

  &:hover {
    background-color: white;
    color: black;
  }
}

.getPay {
  margin-top: 70px;
  color: white;
  width: 300px;
  height: 30px;
  //   border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;

  &:hover {
    background-color: white;
    color: black;
  }
}

.pay__list {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  input {
    font-size: 15px;
    border: none;
    border-bottom: 1px solid darkgray;
  }
}

.pay__cart {
  width: 60%;
  margin-top: 5px;
  height: 130px;
  input {
    margin-left: 10px;
  }
}
