.cart {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product__cart {
  display: grid;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  width: 240px;
  height: 340px;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(52, 53, 99, 0.2),
    0px 1px 3px rgba(0, 0, 0, 0.05);

  background-size: 270px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.2 ease-in-out;
}

.cart__footer {
  position: relative;
  display: flex;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  width: 100%;
  position: absolute;
  p {
    margin: 3px;
  }
}
.cart__title {
  font-size: 25px;
  color: white;
}

.cart__price {
  font-size: 15px;
  color: white;
}

.cart__details {
  font-size: 13px;
  color: white;
  cursor: pointer;
}

.cart__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  border-radius: 40px;
}

.crat__btn {
  position: absolute;
  top: 15%;
  left: 15%;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 31px;
  cursor: pointer;

  &:hover {
    color: greenyellow;
  }
}

.crat__fav {
  position: absolute;
  top: 15%;
  left: 70%;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 31px;

  cursor: pointer;

  &:hover {
    color: greenyellow;
  }
}

.cart__btn_edit {
  cursor: pointer;
}
.cart__btn_delete {
  cursor: pointer;
}
