.bascket__hav_container {
  position: absolute;
  top: 0;
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.bascket__body {
  margin-top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
}

.bascket__list {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.getBack {
  margin-top: 20px;
  color: white;
  width: 200px;
  height: 30px;
  //   border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;

  &:hover {
    background-color: white;
    color: black;
  }
}

.getOrder {
  margin-top: 20px;
  color: white;
  width: 300px;
  height: 30px;
  //   border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;

  &:hover {
    background-color: white;
    color: black;
  }
}

.pay__cart {
  width: 300px;
  height: 300px;
}
