.bascket_main__container {
  width: 100em;
  height: auto;
  background-image: url(https://pbs.twimg.com/media/D-nzYA2XUAEWv2l.jpg:large);
  background-size: cover;

  .bascket_navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    img {
      width: 130px;
      height: auto;

      cursor: pointer;
    }
  }

  .bascket__body {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;

    .bascket__img {
      margin-top: 5px;
      border-radius: 15px;
    }
  }
}
